
<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Tableau de Bord</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
          Hello M/Mme nom_user, il est hh:mm en ce jour
          du lundi 10 octobre 2022.
        </li>
      </ol>

      <label>
        <i class="far fa-newspaper"></i>Statistiques
      </label>
      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <a href="liste_medecin.php" style="text-decoration: none; ">
            <div class="dash-widget" style="background-color: #D6DBDF; padding-bottom: 57px;">
                                    <span class="dash-widget-bg3">
                                        <i class="fas fa-id-card-alt" aria-hidden="true"></i></span> <sup class="badge badge-warning">0</sup>
              <div class="dash-widget-info text-right" style="float:right;">
                <h3>{{members.length}}</h3>
                <span class="widget-title3">Membres <i class="fa fa-check" aria-hidden="true"></i></span>
              </div>

            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <a href="liste_nurse.php" style="text-decoration: none; ">
            <div class="dash-widget" style="background-color: #D6DBDF ">
              <span class="dash-widget-bg4"><i class="fas fa-hospital-alt" aria-hidden="true"></i></span>
              <div class="dash-widget-info text-right">
                <h3>{{salles.length}}</h3>
                <span class="widget-title4">Salles <i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
          </a>
        </div>

        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <a href="liste_laboratin.php" style="text-decoration: none; ">
            <div class="dash-widget" style="background-color: #D6DBDF ">
              <span class="dash-widget-bg1"><i class="fas fa-list" aria-hidden="true"></i></span>
              <div class="dash-widget-info text-right">
                <h3>{{reservations.length}}</h3>
                <span class="widget-title1">Rservations<i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
          </a>
        </div>


        <div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
          <a href="liste_chirugien" style="text-decoration: none; ">
            <div class="dash-widget" style="background-color: #D6DBDF ">
              <span class="dash-widget-bg2"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
              <div class="dash-widget-info text-right">
                <h3>{{reservations.length}}</h3>
                <span class="widget-title2">Events<i class="fa fa-check" aria-hidden="true"></i></span>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <hr />
        </div>
      </div>
    </div>
  </main>
</div>
