<div id="layoutSidenav_content">
  <main>
    <div class="container-fluid">
      <h1 class="mt-4">Nouveau Membre</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">
          Hello M/Mme XXX, il est hh:mm en ce jour du lundi 10 octobre 2022
          .
        </li>
      </ol>
      <!--                Main Body-->
      <div class="row">
        <div class="col-xl-12">
          <div class="card mb-4">
            <div class="card-header">

            </div>

            <div class="card-body">
              <!-- Tab panes -->
              <div class="tab-content">
                <!-- Etat Civile-->
                <!-- infos civile-->


                <form #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="row" style="width: 100%}">
                    <div class="col-lg-8 offset-lg-2">
                      <div class="row">
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="nom" >Nom <span class="text-danger">*</span></label>
                            <input class="form-control" id="nom" type="text" name="nom" required="required" ngModel>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="email" >Email</label>
                            <input class="form-control" id="email" type="email" name="email" ngModel>
                          </div>
                        </div>
                        <div class="col-sm-6">
                          <div class="form-group">
                            <label for="birthday">Date de Naissance</label>
                            <div>
                              <input type="date" class="form-control" id="birthday" name="birthday" ngModel>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn" style="margin-right: 10px;">Enregistrer</button>
                        <a [routerLink]="['list-members']" style=" width:150px;" class="btn btn-danger">
                          <font>Annuler</font>
                        </a>
                      </div>
                    </div>
                </div>
                </form>
              </div>



            </div>
          </div>
          <div class="card-footer">

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <hr />
      </div>
    </div>


  </main>
</div>
